POSTGRES_USER=postgres
POSTGRES_PASSWORD=KfNHYkFAQzVTGZ8L
POSTGRES_DB=postgres
POSTGRES_HOST=db.zanekyybfmffiutchbnw.supabase.co
POSTGRES_PORT=5432
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minio123456